<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>KeyWords</h1>
    <h2><%= JSON.stringify(KEYWORDS) %></h2>
    <br />
    <h1>Entities</h1>
    <h2><%= JSON.stringify(ENTITIES) %></h2>
    <br />
  </body>
</html>
